* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.users-container {
  padding: 40px;
  min-height: 100vh;

  background: linear-gradient(135deg, #a5b7e2, #1e40af);
  color: rgb(0, 0, 0);
}

/* header */
.users-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.users-header h1 {
  font-size: 28px;
}

/* search */
.search-box {
  padding: 10px 14px;
  width: 260px;

  border-radius: 10px;
  border: none;

  outline: none;
}

/* table */
table {
  width: 100%;
  border-collapse: collapse;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);

  border-radius: 12px;
  overflow: hidden;
}

th {
  background: rgba(255, 255, 255, 0.15);
  padding: 14px;
}

td {
  padding: 14px;
  text-align: center;
}

tr:hover {
  background: rgba(255, 255, 255, 0.08);
}

/* buttons */
.view-btn,
.edit-btn {
  padding: 6px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 3px;
}

.view-btn {
  background: #3b82f6;
  color: white;
}

.edit-btn {
  background: #f59e0b;
  color: white;
}

/* role badge */
.role {
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 12px;
}

.role.ADMIN {
  background: #ef4444;
}

.role.USER {
  background: #22c55e;
}

.role.OWNER {
  background: #a855f7;
}

/* pagination */
.pagination {
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.pagination button {
  padding: 8px 12px;
  border: none;

  border-radius: 8px;
  cursor: pointer;

  background: white;
  color: #1e40af;
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* modal */
.modal-overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 420px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(18px);

  border: 1px solid rgba(255, 255, 255, 0.2);

  padding: 25px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  color: white;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.save-btn {
  background: #22c55e;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.close-btn {
  background: #ef4444;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}